.vp-cs5610-h1-course-editor {
  font-family: Georigia, serif;
  font-weight: bold;
}

.vp-cs5610-course-editor-span {
  color: white;
  font-size: x-large;
}

.vp-cs5610-module-title {
  max-height: 60px;
  text-align: start;
}

.vp-cs5610-trash-icon {
  color: red;
}

.vp-cs5610-course-editor-division {
  min-height: 93vh;
  margin-right: -1.95rem;
}

.vp-cs5610-module-list {
  background-color: #1b1e21;
  padding-left: 2.00rem;
}

.vp-cs5610-each-module {
  height: 60px;
}

.vp-cs5610-close-course-editor {
  padding: 0.75rem;
}

.vp-cs5610-nav-item {
  min-width: 7.5%;
}

.vp-cs5610-save-and-preview {
  min-width: 7.5%;
}

.vp-cs5610-add-module-button {
  color: greenyellow;
}

.vp-cs5610-save-topic {
  min-width: 50px;
}